.jobSection{
    display: flex;
    padding: 5vh 5vw;
    background-color: white;
    border-radius: 0.3rem;
    margin: 0 0 2rem 0;
    box-shadow:2.5px 2.5px 5px #8e9493;
}

@media screen and (max-width: 1000px) {
    .jobSection{
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 5vh 5vw;
        background-color: white;
        border-radius: 0.3rem;
        margin: 0 0 5rem 0;
        box-shadow:2.5px 2.5px 5px #8e9493;
    }
  } 